<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
        <button class="btn btn-danger col-lg-4 col-xs-12" name="button" on-click="incrementar"> Cargar datos</button>
      </div>
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/1087/1087833.svg" class="img col-lg-8 col-xs-12" alt="" width="50" height="50">
      </div>
      <div class="row">
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
      </div>
      <div class="row">
        <table class="table table-striped col-lg-4 col-xs-12">
            <thead>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </thead>
            <tbody>
              <tr>
                <td>[[prop2]]</td>
                <td>[[prop1]]</td>
                <td>Espinosa</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Aria</td>
                <td>Stark</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Daeneris</td>
                <td>Targarien</td>
              </tr>
            </tbody>
          </table>
      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su login'
          }
        };
      }

      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log( this.prop1 );
        console.log( this.prop2 );
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
